.services {
  border-radius: 20px 20px;
  color: rgb(0, 0, 0);
  padding: 20px;
  text-align: center;
  margin-top: 10px;
  margin-left: 25px;
  background-color: rgba(226, 184, 184, 0.5);
  font-size: 1.2em;
  display: block;
  box-sizing: border-box;
  width: 570px;
  height: 800px;
  float: right;
  position: relative;
  min-height: 90vh;
  }